@font-face{
    font-family: bethellen;
    src: url("fonts/BethEllen.woff"); 
    
}

html{
    background: #d1e6d1;
}

.header{
    width: 47%;
        display: inline-block;
    margin-left: 1em;

}

.header1{
    width: 47%;       
    display: inline-block;
    margin-left: 1em;

}

h1{ 
    font-family: bethellen;
    display: inline-block;
    font-size: 7.5vw;
    padding: .1em;
    margin: 0px 32vw 0px 32vw;
}

.me{
     width: 40vw;
    margin: 10px 29% 10px 29%;
    
    content: url(images/me.jpg);

}



.me:hover{
    content: url(images/mecolor.jpg);

}


.bio-text{
    font-size: 27px;
    margin: 40px 27% 0px 27%;
    line-height: 1.2;
    max-width: 700px;
    text-align: justify;
    background-color: white;
    padding: .5em;
}


a{
    color: black;
    text-decoration: line-through;
            text-decoration-color: #8fb590;

}

a:hover{
    text-decoration: underline;
        text-decoration-color: #8fb590;

    
}

a:active{
   color: aqua; 
}

footer{
    background: #d1e6d1;
    padding: 3em;
position: relative; 
    text-align: center;
    font-size: 20px;
    font-family: bethellen;
    
}

@media only screen and (max-width:745px){
    .header{
        width: 45%;
        
    }
    
    .header1{
        width: 45%;
        
    }
    .bio-text{
        font-size: 28px;
        margin: 40px 0 0px 0;
        
    }
    
    h1{
        font-size: 7vw;
        
    }
}
