html{
 background: #ffeceb;
    
}

path{
    
    fill: pink;
}
text{
    
    font-size: 35pt;
    
}



.stuff{
    max-width: 300px;
margin: auto;
text-align: center;
    margin-bottom: 50vh;
    
}